@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.algin-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 1275px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER PART  */
.header {
  position: relative;
  width: 100%;
  background-color: #000;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

.header__logo {
  width: 186px;
  height: 50px;
}

.header__inputbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 525px;
}

.header__search {
  width: 100%;
  height: 36px;
  background: none;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 6px 10px;
  padding-right: 35px;
}

.header__search:focus {
  outline: none;
}

.header__search::-webkit-input-placeholder {
  color: #fff;
}

.header__search:-ms-input-placeholder {
  color: #fff;
}

.header__search::-ms-input-placeholder {
  color: #fff;
}

.header__search::placeholder {
  color: #fff;
}

.header__searchbtn, .header__link {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__searchbtn:hover, .header__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}

.header__btnlike {
  margin-right: 15px;
}

.header__link {
  right: 35px;
}

.header__btn, .header__btnlike {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #be123c;
  border: 1px solid #be123c;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.canvas {
  list-style-type: none;
  padding: 20px;
  overflow-y: scroll;
}

.canvas__item {
  width: 340px;
  overflow: hidden;
  cursor: pointer;
}

.canvas__imgbox {
  position: relative;
  width: 340px;
  height: 220px;
  margin-bottom: 12px;
}

.canvas__img {
  width: 100%;
  height: 100%;
}

.canvas__checkbox {
  position: absolute;
  top: 15px;
  right: 16px;
}

.canvas__like {
  display: none;
}

.canvas__like-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background: #be123dc5;
  border: none;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-size: 30px;
  color: #d1d5db;
  cursor: pointer;
}

.canvas__year {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #9ca3af;
  margin-bottom: 12px;
}

.canvas__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111827;
  margin-bottom: 14px;
}

.canvas__rt {
  margin-bottom: 12px;
}

.canvas__star {
  color: yellow;
}

.canvas__cate {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #9ca3af;
}

.search {
  display: none;
  position: fixed;
  top: 60px;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 5s linear;
  transition: all 5s linear;
  z-index: 1051;
}

.search__main {
  width: 525px;
  max-height: 100vh;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.search__box {
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  padding: 10px;
  margin-bottom: 15px;
}

.search__title {
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
}

.search__list {
  max-height: 85vh;
  list-style-type: none;
  padding: 15px;
  overflow: auto;
}

.search__item {
  border-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #d1d5db 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, #d1d5db 0px 0px 0px 1px inset;
  padding: 15px;
  margin-bottom: 15px;
}

.search__imgbox {
  width: 80px;
  height: 100px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 15px;
}

.search__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search__name {
  width: 80%;
  font-size: 20px;
  font-weight: 500;
}

/* MAIN PART  */
.featured {
  padding-top: 82px;
}

.featured__head {
  margin-bottom: 44px;
}

.featured__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000;
}

.featured__more {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #be123c;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.featured__right-icon {
  position: relative;
  top: 8px;
  font-size: 30px;
}

.featured__list,
.featured .arrival {
  list-style-type: none;
}

.featured__item {
  width: 250px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.featured__imgbox {
  position: relative;
  width: 250px;
  height: 370px;
  margin-bottom: 12px;
}

.featured__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured__checkbox {
  position: absolute;
  top: 15px;
  right: 16px;
}

.featured__like {
  display: none;
}

.featured__like:checked ~ label .featured__like-icon {
  color: #be123c;
}

.featured__like-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background: rgba(243, 244, 246, 0.5);
  border: none;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-size: 20px;
  color: #d1d5db;
  cursor: pointer;
}

.featured__year {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #9ca3af;
  margin-bottom: 12px;
}

.featured__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111827;
  margin-bottom: 14px;
}

.featured__rt {
  margin-bottom: 12px;
}

.featured__star {
  color: yellow;
}

.featured__cate {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #9ca3af;
}

.exclusive {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
}

.exclusive__item {
  width: 450px;
  border-radius: 4px;
  margin-right: 48px;
}

.exclusive__imgbox {
  position: relative;
  width: 450px;
  height: 253px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 12px;
}

.exclusive__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.exclusive__icon {
  position: absolute;
  top: 37%;
  left: 45%;
  font-size: 65px;
  color: #fff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 1;
}

.exclusive__icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #cc4343;
}

.exclusive__name {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.fmodal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 1051;
}

.fmodal__main {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fmodal__item {
  position: relative;
  width: 1000px;
  background-color: #fff;
}

.fmodal__box {
  width: 50%;
  padding: 20px;
}

.fmodal__name {
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
}

.fmodal__video {
  width: 100%;
}

.fmodal__vid {
  width: 100%;
  height: 315px;
}

.fmodal__info {
  width: 50%;
  padding: 20px;
}

.fmodal__rtinfo {
  width: 65%;
  margin-bottom: 25px;
}

.fmodal__star {
  position: relative;
  top: 10px;
  font-size: 32px;
  color: yellow;
}

.fmodal__rt {
  font-size: 16px;
  font-weight: 700;
}

.fmodal__calen {
  position: relative;
  top: 10px;
  font-size: 27px;
  color: #000;
}

.fmodal__date {
  font-size: 16px;
  font-weight: 700;
}

.fmodal__time {
  font-size: 16px;
  font-weight: 700;
}

.fmodal__ticon {
  position: relative;
  top: 10px;
  font-size: 27px;
  color: #000;
}

.fmodal__cate {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.fmodal__desc {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}

.fmodal__pod {
  width: 80%;
}

.fmodal__link {
  border-bottom: 1px solid #0066ff;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 2px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.fmodal__link:hover {
  color: #be123c;
  border-bottom: 1px solid #be123c;
}

.fmodal__ex {
  position: relative;
  top: 5px;
  font-size: 25px;
  margin-left: 6px;
}

.fmodal__btn {
  background-color: #be123c;
  border: 1px solid #be123c;
  border-radius: 6px;
  padding: 6px 16px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.fmodal__book {
  position: relative;
  top: 3px;
  font-size: 18px;
  margin-right: 6px;
}

.fmodal__btndel {
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -5px;
  font-size: 34px;
  color: #be123c;
  cursor: pointer;
}

.poick {
  width: 100%;
  background-color: #fff;
  padding-top: 50px;
}

.poick__main {
  width: 850px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px 60px;
  margin: 0 auto;
}

.poick__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

.poick__catename {
  font-size: 18px;
  font-weight: 500;
  color: #6c757d;
  margin-bottom: 5px;
}

.poick__input {
  width: 50%;
  background: none;
  border: none;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 15px;
}

.poick__input:focus {
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: #6c757d;
}

.poick__number {
  display: block;
  width: 50%;
  background: none;
  border: none;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 18px;
  font-weight: 500;
  color: #6c757d;
  padding: 12px 15px;
}

.poick__number:focus {
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: #6c757d;
}

.poick__select {
  display: block;
  width: 50%;
  background: none;
  border: none;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 18px;
  font-weight: 500;
  color: #6c757d;
  padding: 12px 15px;
  margin-bottom: 15px;
}

.poick__select:focus {
  outline: none;
}

.poick__btn {
  background: #be123c;
  border: #be123c;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 10px 30px;
  margin-bottom: 15px;
}

.poick__list {
  list-style-type: none;
}

/* FOOTER PART */
.footer {
  background-color: #fff;
  padding-top: 123px;
  padding-bottom: 62px;
}

.footer__box {
  width: 492px;
  margin: 0 auto;
}

.footer__list {
  list-style-type: none;
  margin-bottom: 36px;
}

.footer__item {
  margin-right: 48px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item:hover .footer__icon {
  color: #6b7280;
}

.footer__icon {
  font-size: 32px;
  color: #000;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.footer__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #111827;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.footer__copy {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #6b7280;
}

/* HERO PART  */
.hero {
  width: 404px;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 157px;
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 16px;
}

.hero__imgdbbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.hero__imgdbimg {
  width: 35px;
}

.hero__imgdbrating {
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-left: 10px;
}

.hero__star {
  color: yellow;
  font-size: 16px;
  margin-left: 34px;
}

.hero__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}

.hero__playbtn {
  background-color: #be123c;
  border: 1px solid #be123c;
  border-radius: 6px;
  padding: 6px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.hero__playimg {
  position: relative;
  top: 5px;
  font-size: 22px;
  margin-right: 10px;
}

.hero__pagebox {
  position: absolute;
  top: 245px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__pagebtn {
  position: relative;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #9ca3af;
  margin-bottom: 10px;
  cursor: pointer;
}

.rt {
  padding-top: 3px;
}

.bpage {
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.bpage::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -27px;
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */