/* HEADER PART  */

.header {
  position: relative;
  width: 100%;
  background-color: #000;
  background-image: url('/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;


  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }

  &__logo {
    width: 186px;
    height: 50px;
  }

  &__inputbox {
    display: flex;
    position: relative;
    width: 525px;
  }

  &__search {
    width: 100%;
    height: 36px;
    background: none;
    border: 2px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 6px 10px;
    padding-right: 35px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #fff;
    }
  }

  &__searchbtn,
  &__link {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
    transition: all 0.4s linear;

    &:hover {
      transform: scale(1.1);
      color: #fff;
    }
  }

  &__btnlike {
    margin-right: 15px;
  }

  &__link {
    right: 35px;
  }

  &__btn,
  &__btnlike {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #be123c;
    border: 1px solid #be123c;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
}


// Modal like //

.canvas {
  list-style-type: none;
  padding: 20px;
  overflow-y: scroll;

  &__item {
    width: 340px;
    overflow: hidden;
    cursor: pointer;
  }

  &__imgbox {
    position: relative;
    width: 340px;
    height: 220px;
    margin-bottom: 12px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__checkbox {
    position: absolute;
    top: 15px;
    right: 16px;
  }

  &__like {
    display: none;

  }

  &__like-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #be123dc5;
    border: none;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    font-size: 30px;
    color: #d1d5db;
    cursor: pointer;
  }

  &__year {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #9ca3af;
    margin-bottom: 12px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111827;
    margin-bottom: 14px;
  }

  &__rt {
    margin-bottom: 12px;
  }

  &__star {
    color: yellow;
  }

  &__cate {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #9ca3af;
  }

}
